@model a2wd.Umbraco.Models.PageModels.HomePageViewModel
@{
	Layout = "MasterLayout.cshtml";
}

<header>
    @Model.Navigation
</header>
<article>
    <section>
        @Model.PageTitle
        @Html.Raw(Model.BodyContent)
    </section>
    <section>
        @foreach(var blog in Model.BlogPages)
        {
            @Html.Partial("BlogExtract", blog);
        }
    </section>
</article>